// Media

// Images
img {
    &.responsive {
        height: auto;
        max-width: 100%;
    }
    
    &[class^='position'] {
	    margin-bottom: (@padding / 2);
    }

    &.position-left {
    	margin-right: (@padding / 2);
    }

    &.position-right {
        margin-left: (@padding / 2);
    }
}