// Variables

// Fonts

// Body
@font-family: 'Open Sans';
@line-height: 16px;
@font-size: '10px';

// Colors
@color-default:;
@color-primary:;
@background-header:;
@color-header:;
@background-main:;
@color-main:;
@background-footer:;
@color-footer:;

// Responsive Breakpoints
@mobile-landscape-minimum: 321px;
@tablet-portrait-minimum: 569px;
@tablet-landscape-minimum: 769px;
@desktop-minimum: 1025px;
@tv-720p-minimum: 1280px;
@tv-1080p-minimum: 1920px;

@mobile-portrait-maximum: (@mobile-landscape-minimum - 1);
@mobile-landscape-maximum: (@tablet-portrait-minimum - 1);
@tablet-portrait-maximum: (@tablet-landscape-minimum - 1);
@tablet-landscape-maximum: (@desktop-minimum - 1);
@desktop-maximum: (@tv-720p-minimum - 1);
@tv-720p-maximum: (@tv-1080p-minimum - 1);